

.sideNavBar{
    height:700px;
    float:left;
    width: 200px;
    padding: 25px;
    display:block;
    
  }

.home{
    margin-bottom: 10px;
    margin-top: 15px;;
}


.mywork{
    margin-bottom: 10px; 
}

.resume{
    margin-bottom: 10px;
}


.contact{
    margin-bottom: 10px;
}


.me{
    margin-bottom: 10px;
}




  .mainContents{
    display: flex;
    flex-direction: column;
    height: 690px;
    width: 100%;
    text-align: center;
    padding: 30px;
    align-items: center;
   
  }

.abc{
    height: 500px;
    width: 400px;
    align-content: end;
    
} 

button{
   width: 200px;
   color:whitesmoke;
   border-color: darkcyan;
   background-color: darkslategrey;
}


  .navigation{
      display:block;
      padding: 5px;
      margin-left: 10px;
      height: 30px;
      margin-bottom: 10px;
     
     
  }

  #c {
      display: flex;
     
  }

  footer{
      height: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 15px;
  }

 .footer{
     display:flex;
     padding: 5px;
     flex-direction: row;
  
 }

 .icon{
     width: 25px;
     height: 25px;
   
 }

 .details{
     display: block;
    }

    ul{
        width: 200px;
        height: 70px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        /* border: solid; */
        justify-content: space-around;
        align-items: center;
        padding: 10%

    }

    li {
        /* display: inline-block; */
        /* margin: 50%;
         */
   
     }